aiogram==2.13
aiohttp==3.7.4.post0
apiai==1.2.3
apply-defaults==0.1.4
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.2
crypto==1.4.1
decorator==5.0.9
demjson==2.2.4
face-client==1.2.dev0
future==0.18.2
idna==3.2
jsonrpcclient==3.3.6
jsonschema==3.2.0
litereval==0.0.11
lxml==4.6.3
multidict==5.1.0
mysql-connector-python==8.0.26
Naked==0.1.31
numpy==1.19.5
opencv-python==4.4.0.46
Pillow==8.2.0
protobuf==3.17.3
pycryptodome==3.9.6
PyMySQL==1.0.2
pyrsistent==0.18.0
pytesseract==0.3.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3
requests==2.26.0
shellescape==3.8.1
SimpleQIWI==0.7
six==1.16.0
soupsieve==2.2.1
tbomb==2.1.2
telegraph==1.4.1
typing-extensions==3.10.0.0
urllib3==1.25.11
uuid==1.30
validators==0.18.2
vk==2.0.2
Wand==0.6.7
yarl==1.6.3
